.aspect {
  display: block;
  position: relative;
  width: 100%;
}

.aspect__spacer {
  display: 'block';
  visibility: 'hidden';
  // padding-bottom will be set dynamically via style attribute
  // to set the height as a percentage of width.
}

.aspect__children {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  width: 100%;
}
