.aspect {
  display: block;
  position: relative;
  width: 100%;
}

// Typically we'd include the aspect-ratio() mixin which
// uses a :pseudo element for this but we need to
// override padding-top using an inline style. Hence an element:
.spacer {
  display: block;
  visibility: hidden;
  // padding-top will be set via inline style attribute
  // to define the height as a percentage of width for each instance.
}

.aspect .children {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img {
  width: 100%;
}
