// #controvertial
// This is a cunning way to expose current breakpoint to javascript.
// In JS use: var bp = window.getComputedStyle(document.head).fontFamily
// Convention: The breakpoint string always starts with current breakpoint name.
// TODO: Auto-generate the code from a map of breakpoints.
head {
  // Mobile first:
  font-family: xs;

  @media (min-width: 768px) {
    font-family: sm;
  }

  @media (min-width: 992px) {
    font-family: md;
  }

  @media (min-width: 1200px) {
    font-family: lg;
  }
}
