iea-footer-nav {
  display: block;
  margin-top: 10rem;

  > * {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #f0f0f0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 4rem;
    text-align: center;
  }
}
