@import '../../../global/hide.scss';

.themeA {
  .img {
    display: block;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);

    max-width: 100%;
    object-fit: cover;
  }

  h1 {
    color: red;
  }

  .img-box {
    background-color: #156035;

    display: block;
    overflow: hidden;
  }

  .heading {
    // color: #002663;
    // font-size: 2.5rem;
    // font-weight: 200;
    // text-align: center;

    @include a11y-hide();
  }

  .bodycopy {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    line-height: 3;

    margin: 0;

    a {
      background: #c69557;
      color: #fff;
      display: inline-block;
      margin: auto;
      padding: 6px 24px;

      &:hover {
        background: #f5efe6;
        color: #c79652;
      }
    }
  }

  @media (min-width: 768px) {
    & .img {
      min-height: 600px;
      width: 100%;
    }
  }
}
