:host {
  // Common styles and resets:

  font-family: Arial, Helvetica, sans-serif;

  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  // Smooth hover transition:
  a {
    text-decoration: none;
    transition: all 0.25s ease;
  }

  // Custom styles: NOT AN APPROVED TECHNIQUE
  @import './hero.magnum.themeA.scss';
  @import './hero.magnum.themeB.scss';
  @import './hero.magnum.themeC.scss';
}
