@mixin burger-icon($size, $color) {
  position: relative;

  // Middle line(s) of burger menu ☰ icon:
  // The middle is made of 2 lines that can be animated to an X icon:
  &:before,
  &:after {
    background: $color;
    border-radius: 2px;
    content: '';
    display: block;

    position: absolute;
    height: 2px;
    width: $size;
    top: calc(50% - 1px);

    // To animate between open & close:
    transition: all 0.2s ease-out;
  }

  // Top & bottom lines of burger menu ☰ icon:
  &:before {
    box-shadow: 0 -9px 0 0 $color, 0 9px 0 0 $color;
  }
}

@mixin burger-icon-close() {
  &:before {
    // Hide top & bottom lines or burger menu ☰ icon
    // and angle to form part of X:
    box-shadow: none;
    transform: rotateZ(-45deg);
  }

  &:after {
    // Angle to form part of X:
    transform: rotateZ(45deg);
  }
}
