@mixin burger-icon($size, $color) {
  position: relative;

  // Middle line(s) of burger menu ☰ icon:
  &:before,
  &:after {
    background: $color;
    border-radius: 2px;
    content: '';
    display: block;

    position: absolute;
    height: 2px;
    width: $size;
    top: calc(50% - 1px);

    transition: all 0.2s ease-out;
  }

  // Upper & lower lines of burger menu ☰ icon:
  &:before {
    box-shadow: 0 -9px 0 0 $color, 0 9px 0 0 $color;
  }
}

@mixin burger-icon-close() {
  &:before {
    // Hide upper & lower lines or burger menu ☰ icon:
    box-shadow: none;
    // Angle to form part of X:
    transform: rotateZ(-45deg);
  }

  &:after {
    // Angle to form part of X:
    transform: rotateZ(45deg);
  }
}
